#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_SUPER_SWITCH
comment "Super Switch Hardware Configuration"

config SUPER_SWITCH_NSH_RELAY
        bool "Relay control in nsh. use stm32_writegpio"
        default n

endif

