#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_FLASH_POWER
comment "Flash Power Configuration"

config GL_FLASHPOWER
    bool "Flash Power macro"
    default y


endif

