#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_FLASH_POWER
comment "Flash Power Configuration"

config GL_FLASHPOWER
    bool "Flash Power macro"
    default y

config SSD1289_WRONLY
    bool "SSD1289 Write only"
    default y

config LCD_ILI93XX
    bool "Flash Power ili93xx lcd driver"
    default y



endif

